<div class="modal" style="display: block">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buscar Produto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div
        class="modal-body d-flex flex-column gap-2 border rounded-2 shadow-lg bg-secondary-subtle"
      >
        <div>
          <form class="p-2">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                [formControl]="produtoSearchForm"
                autocomplete="off"
                (keydown.enter)="$event.preventDefault()"
              />
              <label for="floatingInput">Digite Sku ou Nome para buscar</label>
            </div>
          </form>
        </div>
        <div>
          <table class="table table-sm table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">SKU</th>
                <th scope="col">Nome</th>
                <th scope="col">Fabricante</th>
                <th scope="col">Valor</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              @if(produtos$ | async){

              <tr *ngFor="let produto of produtos$ | async">
                <td>{{ produto.sku | uppercase }}</td>
                <td>{{ produto.nome | titlecase }}</td>
                <td>{{ produto.fabricante | titlecase }}</td>
                <td>{{ produto.valorVenda | currency }}</td>
                <td>
                  <button
                    (click)="selectProduto(produto)"
                    class="btn btn-sm btn-secondary"
                  >
                    Adicionar
                  </button>
                </td>
              </tr>
              }
              <tr *ngIf="(produtos$ | async)?.length === 0">
                <td colspan="5" class="text-center">
                  Nenhum produto encontrado
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
