@if (isModalIncluirItemCotacaoShow) {
<app-modal-incluir-item-cotacao
  [cotacaoId]="cotacaoId"
  (showModalIncluirItemCotacao)="showIncluirItemCotacao()"
  (itemAdicionado)="getCotacao()"
/>
} @if (isModalCodigoSimilarShow) {
<app-modal-codigo-similar
  [itemId]="itemId"
  (showModalCodigoSimilar)="showCodigoSimilar(itemId)"
/>
}
<div class="container-fluid">
  <div class="d-flex flex-grow-1 gap-2">
    <div class="col-4">
      <table class="table table-sm table-hover table-striped">
        <thead>
          <tr>
            <th>Quant</th>
            <th>Sku</th>
            <th>Nome</th>
            <th>
              <button
                (click)="showIncluirItemCotacao()"
                class="btn btn-sm btn-secondary"
              >
                Adicionar
              </button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="cotacao$ | async as cotacao">
          <tr *ngFor="let item of cotacao.items">
            <td>{{ item.quantidade }}</td>
            <td>{{ item.sku | uppercase }}</td>
            <td>{{ item.nome }}</td>
            <td class="d-flex gap-1">
              <button
                (click)="removerItemCotacao(item.id)"
                class="btn btn-sm btn-danger"
              >
                Excluir
              </button>
              <button
                (click)="showCodigoSimilar(item.id)"
                class="btn btn-sm btn-warning"
              >
                Similar
              </button>
              <button
                (click)="listarPrecoItemCotacao(item.id)"
                class="btn btn-sm btn-primary"
              >
                Detalhes
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex-grow-1">
      <div>
        <table class="table table-sm table-hover table-striped">
          <thead>
            <tr>
              <th>Quant</th>
              <th>Sku</th>
              <th>Fabricante</th>
              <th>Prazo Expedição</th>
              <th>Fornecedor</th>
              <th>Preço</th>
              <th>Acões</th>
            </tr>
          </thead>
          <tbody>
            @if ((itemCotacao$ | async)?.precoItemCotacoes) {
            <tr *ngFor="let preco of (itemCotacao$ | async)?.precoItemCotacoes">
              <td>{{ preco.quantidadeAtendida }}</td>
              <td>{{ preco.sku }}</td>
              <td>{{ preco.fabricante | uppercase }}</td>
              <td>{{ preco.prazoExpedicao }} Dia(s)</td>
              <td>{{ preco.fornecedor.nomeFantasia }}</td>
              <td>{{ preco.valorVenda | currency }}</td>
              <td class="d-flex gap-1">
                <button class="btn btn-sm btn-secondary">Publicar</button>
                <button class="btn btn-sm btn-secondary">Orçamento</button>
              </td>
            </tr>
            } @else {
            <tr>
              <td colspan="7">Escolha um item para visualizar</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
