<aside class="d-flex flex-column gap-2 h-100">
  <header class="text-center mt-2">
    <h5>Auto Parts</h5>
  </header>
  <nav class="flex-grow-1">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/orcamentos" routerLinkActive="active"
          >Orçamentos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cotacoes" routerLinkActive="active"
          >Cotações</a
        >
      </li>
    </ul>
  </nav>
  <footer class="mb-2">
    <button class="btn btn-primary">Logout</button>
  </footer>
</aside>
