<div class="modal" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Incluir Item</h5>
        <button
          (click)="closeModal()"
          type="button"
          class="btn-close"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="itemCotacaooForm"
          (keydown.enter)="$event.preventDefault()"
          (submit)="submitItem()"
        >
          <div class="mb-3 d-flex gap-1">
            <div class="col-2">
              <label for="quantidade" class="form-label">Quant</label>
              <input
                type="number"
                class="form-control"
                formControlName="quantidade"
              />
            </div>
            <div class="flex-grow-1">
              <label for="sku" class="form-label">SKU</label>
              <input type="text" class="form-control" formControlName="sku" />
            </div>
          </div>
          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="nome" />
          </div>
          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select
              class="form-select"
              name="tipo"
              id="tipo"
              formControlName="tipo"
            >
              <option value="1">Ponta de Estoque</option>
              <option value="2">Auto Peças</option>
            </select>
          </div>
          <div class="modal-footer">
            <button
              (click)="closeModal()"
              type="button"
              class="btn btn-secondary"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
