<app-modal-preco-fornecedor
  *ngIf="isModalPrecoFornecedorVisible"
  (showModalPrecoFornecedor)="showModalPrecoFornecedor(itemId)"
  [itemId]="itemId"
  [precoItemId]="precoItemId"
  (updateCotacao)="getPrecoItemCotacao(this.itemId)"
/>

<app-modal-codigo-similar
  *ngIf="isModalCodigoSimilarShow"
  [itemId]="itemId"
  (showModalCodigoSimilar)="showCodigoSimilar(itemId)"
/>

<div class="container-fluid bg-dark-subtle h-100 d-flex flex-column">
  <div>
    <h5 class="text-center">Cotação</h5>
  </div>
  <section class="d-flex gap-2 flex-column h-100 mb-2">
    <div
      class="d-flex border rounded-2 shadow-lg bg-secondary-subtle"
      *ngIf="cotacao$ | async as cotacao"
    >
      <div class="col-3 p-1">
        <p>
          Nome:
          <span>{{ cotacao.cliente.nome | titlecase }}</span>
        </p>
        <p>
          Telefone:
          <span>{{
            cotacao.cliente.telefone | mask : "(99) 9 9999-9999"
          }}</span>
        </p>
      </div>
      <div class="col-3">
        <p>
          Veiculo : <span>{{ cotacao.veiculo.modelo | titlecase }}</span>
        </p>
        <p>
          Placa : <span>{{ cotacao.veiculo.placa | uppercase }}</span>
        </p>
        <p>
          Chassis :
          <span>{{
            cotacao.veiculo.chassi || "Não Informado" | uppercase
          }}</span>
        </p>
        <p>
          Ano : <span>{{ cotacao.veiculo.ano }}</span>
        </p>
      </div>
      <div class="col-3">
        <p>Combustível : <span></span></p>
        <p>
          Cor : <span>{{ cotacao.veiculo.cor || "Não Infomado" }}</span>
        </p>
        <p>Quilometragem : <span></span></p>
        <p>Observações : <span></span></p>
      </div>
      <div class="col-3">
        <p>
          Status : <span>{{ cotacao.status | titlecase }}</span>
        </p>
        <p>
          Abertura :
          <span>{{ cotacao.createdAt | date : "dd/MM/yy" }}</span>
        </p>
        <p>Fechada : <span></span></p>
      </div>
    </div>
    <div class="d-flex border rounded-2 shadow-lg bg-secondary-subtle">
      <div class="p-1 d-flex gap-1">
        <button class="btn btn-sm btn-secondary">Enviar Cotação</button>
        <button class="btn btn-sm btn-secondary">Alterar Status</button>
      </div>
    </div>
    <div
      class="d-flex p-1 gap-2 border rounded-2 shadow-lg bg-secondary-subtle flex-grow-1"
    >
      <div class="col-5">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Quant</th>
              <th>Sku</th>
              <th>Nome</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="cotacao$ | async as cotacao">
            <tr *ngFor="let item of cotacao.items">
              <td>{{ item.quantidade }}</td>
              <td>{{ item.sku | uppercase }}</td>
              <td>{{ item.nome | titlecase }}</td>
              <td class="d-flex gap-1">
                <button
                  (click)="showCodigoSimilar(item.id)"
                  class="btn btn-sm btn-secondary"
                >
                  Similar
                </button>
                <button
                  (click)="showModalPrecoFornecedor(item.id)"
                  class="btn btn-sm btn-secondary"
                >
                  Preço
                </button>
                <button
                  (click)="getPrecoItemCotacao(item.id)"
                  class="btn btn-sm btn-secondary"
                >
                  Detalhes
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex-grow-1">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Quant</th>
              <th>Sku</th>
              <th>Fabricante</th>
              <th>Prazo Expedição</th>
              <th>Fornecedor</th>
              <th>Custo</th>
              <th>Venda</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            @if (itemCotacao$ | async ){
            <tr *ngFor="let item of (itemCotacao$ | async)?.precoItemCotacoes">
              <td>{{ item.quantidadeAtendida }}</td>
              <td>{{ item.sku | titlecase }}</td>
              <td>{{ item.fabricante | titlecase }}</td>
              <td>{{ item.prazoExpedicao }}</td>
              <td>{{ item.fornecedor.nomeFantasia | titlecase }}</td>
              <td>{{ item.valorCusto | currency }}</td>
              <td>{{ item.valorVenda | currency }}</td>
              <td class="d-flex gap-1">
                <button
                  (click)="removerPrecoItemCotacao(item.itemId, item.id)"
                  class="btn btn-sm btn-danger"
                >
                  Excluir
                </button>
                <button
                  (click)="editarItemCotacao(item.itemId, item.id)"
                  class="btn btn-sm btn-warning"
                >
                  Editar
                </button>
                <button class="btn btn-sm btn-secondary">Cadastrar</button>
                <button class="btn btn-sm btn-secondary">Detalhes</button>
              </td>
            </tr>
            } @else {
            <tr>
              <td colspan="8" class="text-center">Escolha um item</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
